<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div align="center">
    <h3>Add student</h3>
    <p>
        <a th:href="@{/home}">
            Back to students list
        </a>
    </p>
    <div id="form">
        <form th:action="@{/create-student}" th:object="${student}"
              method="POST" novalidate="novalidate" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Email</label>
                <input type="email" th:field="*{email}"/>
            </div>
            <div>
                <label>Avatar</label>
                <input type="file" name="multipartFile"/>
            </div>
            <div>
                <label>Birthday</label>
                <input type="date" th:field="*{birthday}"/>
            </div>
            <div>
                <label>Class_Room</label>
                <select th:field="*{classRoom}">
                    <option th:each="p : ${classRooms}" th:value="${p.getId()}" th:text="${p.getName()}"></option>
                </select>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
    <footer th:replace="/layout :: footer"></footer>
</div>
</body>
</html>